body{background-color: rgb(49, 38, 50); 
}
h1 {background-color: black;}
p {background-color: rgb(26, 62, 48);
}

h1 {color: burlywood;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.principal{color: rgb(14, 37, 209);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secundaria{color: rgb(172, 116, 3);
    
}

#titulosecundario{color: aquamarine;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#tituloprincipal{color: chartreuse; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;

}
.contenedor1{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 7px solid rgb(0, 242, 255);

}
.contenedor2{
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 20px;
    border: 10px solid blue;
}

.contenedor{
    display: flex;
}

.contenedorproductos{
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    border: 10px solid rgb(63, 63, 125);
}

.tituloproductos{color: aqua
    ;
font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parrafoproductos{
    color: cornflowerblue;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tercero{
    color: blue;
    font-size: 50px;
}
.contenedor{
    display: flex;
    justify-content: space-around;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.grid-item{
    background-color: blueviolet;
    border: 2px dotted rgb(82, 129, 82);
}

a:hover{
    color: aqua;
    background-color: blue;
}